* {
    font-family: 'cantarell',sans-serif;
    font-weight: 400;
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    top: 50px;
left: 50px;
transform: scalex(1.5);
transition: transform 0.5s;

}
box:hover {
    background-color: blueviolet;
}